---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jekyll/jekyll/contents/site/docs?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1403420631'
      Last-Modified:
      - Sun, 22 Jun 2014 02:02:29 GMT
      Etag:
      - '"610d3bf9fd7524c6167721d0290169b5"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"assets.md","path":"site/docs/assets.md","sha":"b733e0eb141d9f5ca16f5f82e2867ef43fceaf77","size":1376,"url":"https://api.github.com/repos/jekyll/jekyll/contents/site/docs/assets.md?ref=master","html_url":"https://github.com/jekyll/jekyll/blob/master/site/docs/assets.md","git_url":"https://api.github.com/repos/jekyll/jekyll/git/blobs/b733e0eb141d9f5ca16f5f82e2867ef43fceaf77","type":"file","_links":{"self":"https://api.github.com/repos/jekyll/jekyll/contents/site/docs/assets.md?ref=master","git":"https://api.github.com/repos/jekyll/jekyll/git/blobs/b733e0eb141d9f5ca16f5f82e2867ef43fceaf77","html":"https://github.com/jekyll/jekyll/blob/master/site/docs/assets.md"}},{"name":"collections.md","path":"site/docs/collections.md","sha":"91460c9639cc0ad9e75765ad58733fc6fad31989","size":6711,"url":"https://api.github.com/repos/jekyll/jekyll/contents/site/docs/collections.md?ref=master","html_url":"https://github.com/jekyll/jekyll/blob/master/site/docs/collections.md","git_url":"https://api.github.com/repos/jekyll/jekyll/git/blobs/91460c9639cc0ad9e75765ad58733fc6fad31989","type":"file","_links":{"s[...]
