---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jekyll/jekyll/git/refs/tags/v1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1403575924'
      Last-Modified:
      - Tue, 24 Jun 2014 01:14:55 GMT
      Etag:
      - '"5226579568322b610ddb5ee49c0dd31f"'
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/tags/v1.0.0","url":"https://api.github.com/repos/jekyll/jekyll/git/refs/tags/v1.0.0","object":{"sha":"9f94eaf061b7940119afe6864abcb4fe82d98b33","type":"commit","url":"https://api.github.com/repos/jekyll/jekyll/git/commits/9f94eaf061b7940119afe6864abcb4fe82d98b33"}}'
  recorded_at: Tue, 24 Jun 2014 01:38:04 GMT
recorded_with: VCR 2.9.2
