---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jekyll/jekyll/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1403447268'
      Last-Modified:
      - Sun, 22 Jun 2014 02:02:29 GMT
      Etag:
      - '"610d3bf9fd7524c6167721d0290169b5"'
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/jekyll/jekyll/git/refs/heads/master","object":{"sha":"e345ceb01ac613f22dda739b558ad0ba4227496a","type":"commit","url":"https://api.github.com/repos/jekyll/jekyll/git/commits/e345ceb01ac613f22dda739b558ad0ba4227496a"}}'
  recorded_at: Sun, 22 Jun 2014 13:27:48 GMT
recorded_with: VCR 2.9.2
