---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/melborne/gh-diff/contents/bin?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1406039280'
      Last-Modified:
      - Sun, 20 Jul 2014 13:05:22 GMT
      Etag:
      - '"a98e37e86a4246a85b31e0297c2b068b"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"gh-diff","path":"bin/gh-diff","sha":"97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","size":64,"url":"https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master","html_url":"https://github.com/melborne/gh-diff/blob/master/bin/gh-diff","git_url":"https://api.github.com/repos/melborne/gh-diff/git/blobs/97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","type":"file","_links":{"self":"https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master","git":"https://api.github.com/repos/melborne/gh-diff/git/blobs/97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","html":"https://github.com/melborne/gh-diff/blob/master/bin/gh-diff"}}]'
  recorded_at: Tue, 22 Jul 2014 13:28:00 GMT
- request:
    method: get
    uri: https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1406039280'
      Last-Modified:
      - Tue, 22 Jul 2014 13:22:36 GMT
      Etag:
      - '"ea0aae4ec6b8ddf249d9c8f9c21e8f90"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"gh-diff","path":"bin/gh-diff","sha":"97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","size":64,"url":"https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master","html_url":"https://github.com/melborne/gh-diff/blob/master/bin/gh-diff","git_url":"https://api.github.com/repos/melborne/gh-diff/git/blobs/97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","type":"file","content":"IyEvdXNyL2Jpbi9lbnYgcnVieQoKcmVxdWlyZSAnZ2gtZGlmZicKCkdoRGlm\nZjo6Q0xJLnN0YXJ0KEFSR1YpCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master","git":"https://api.github.com/repos/melborne/gh-diff/git/blobs/97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","html":"https://github.com/melborne/gh-diff/blob/master/bin/gh-diff"}}'
  recorded_at: Tue, 22 Jul 2014 13:28:01 GMT
- request:
    method: get
    uri: https://api.github.com/repos/melborne/gh-diff/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1406039280'
      Last-Modified:
      - Sun, 20 Jul 2014 13:05:22 GMT
      Etag:
      - '"14f1cf9afebdb06ea3a18b94f181372f"'
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/melborne/gh-diff/git/refs/heads/master","object":{"sha":"a8bd616c34986efa30148abbb474b0f62894fccf","type":"commit","url":"https://api.github.com/repos/melborne/gh-diff/git/commits/a8bd616c34986efa30148abbb474b0f62894fccf"}}'
  recorded_at: Tue, 22 Jul 2014 13:28:02 GMT
- request:
    method: get
    uri: https://api.github.com/repos/melborne/gh-diff/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1406039280'
      Last-Modified:
      - Sun, 20 Jul 2014 13:05:22 GMT
      Etag:
      - '"14f1cf9afebdb06ea3a18b94f181372f"'
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/melborne/gh-diff/git/refs/heads/master","object":{"sha":"a8bd616c34986efa30148abbb474b0f62894fccf","type":"commit","url":"https://api.github.com/repos/melborne/gh-diff/git/commits/a8bd616c34986efa30148abbb474b0f62894fccf"}}'
  recorded_at: Tue, 22 Jul 2014 13:28:03 GMT
recorded_with: VCR 2.9.2
