---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/melborne/gh-diff/contents/bin?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1405562975'
      Last-Modified:
      - Sun, 06 Jul 2014 14:29:03 GMT
      Etag:
      - '"a98e37e86a4246a85b31e0297c2b068b"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"gh-diff","path":"bin/gh-diff","sha":"97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","size":64,"url":"https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master","html_url":"https://github.com/melborne/gh-diff/blob/master/bin/gh-diff","git_url":"https://api.github.com/repos/melborne/gh-diff/git/blobs/97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","type":"file","_links":{"self":"https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master","git":"https://api.github.com/repos/melborne/gh-diff/git/blobs/97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","html":"https://github.com/melborne/gh-diff/blob/master/bin/gh-diff"}}]'
  recorded_at: Thu, 17 Jul 2014 01:12:52 GMT
- request:
    method: get
    uri: https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1405562975'
      Last-Modified:
      - Wed, 16 Jul 2014 01:47:46 GMT
      Etag:
      - '"ea0aae4ec6b8ddf249d9c8f9c21e8f90"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"gh-diff","path":"bin/gh-diff","sha":"97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","size":64,"url":"https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master","html_url":"https://github.com/melborne/gh-diff/blob/master/bin/gh-diff","git_url":"https://api.github.com/repos/melborne/gh-diff/git/blobs/97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","type":"file","content":"IyEvdXNyL2Jpbi9lbnYgcnVieQoKcmVxdWlyZSAnZ2gtZGlmZicKCkdoRGlm\nZjo6Q0xJLnN0YXJ0KEFSR1YpCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/melborne/gh-diff/contents/bin/gh-diff?ref=master","git":"https://api.github.com/repos/melborne/gh-diff/git/blobs/97f13c6aafe6520b33960b32c398e4c8bbeb4bf7","html":"https://github.com/melborne/gh-diff/blob/master/bin/gh-diff"}}'
  recorded_at: Thu, 17 Jul 2014 01:12:53 GMT
- request:
    method: get
    uri: https://api.github.com/repos/melborne/gh-diff/git/refs/heads/master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1405562975'
      Last-Modified:
      - Sun, 06 Jul 2014 14:29:03 GMT
      Etag:
      - '"b767d7ca62d9eed4ecdf0699cf8578db"'
      X-Poll-Interval:
      - '300'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"ref":"refs/heads/master","url":"https://api.github.com/repos/melborne/gh-diff/git/refs/heads/master","object":{"sha":"3c8be5d3895da32a363bee90f0dab6cdda10fb42","type":"commit","url":"https://api.github.com/repos/melborne/gh-diff/git/commits/3c8be5d3895da32a363bee90f0dab6cdda10fb42"}}'
  recorded_at: Thu, 17 Jul 2014 01:12:54 GMT
recorded_with: VCR 2.9.2
